
@{
    ViewData["Title"] = "Input Name Form";
}

<h1>@ViewData["Title"]</h1>

<form action="NameProcessor" method="post">
    <label>Enter first name:</label>
    <input name="firstName" />
    <input type="submit" value="Save" />
</form>

